body {
    font-family: work sans, sans-serif;
    background-color: #414141;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: 0.5s;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 620px;
    width: 335px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #17171C;
}

.icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
    width: 20px;
    height: 20px;
    pointer-events: none;
}

#lua {
    right: 10px;
}

#sol {
    left: 10px;
}

.trilho{
    width: 72px;
    height: 32px;
    background-color: #000;
    border-radius: 150px;
    position: relative;
    cursor: pointer;
}

.trilho .indicador{
    align-items: center;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    width: 26px;
    height: 28px;
    background-color: #4E505F;
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    left: 0;
    transition: left .5s;
}

.trilho.dark{
    background-color: #F1F2F3;
    transition: 0.5s;
}

.trilho.dark .indicador{
    left: 42px;
    background-color: #4E505F;
    transition: 0.5s;

}

body.dark{
    background-color: #F1F2F3;
    transition: 0.5s;

}

.calculator.dark {
    background-color: #fff;
    transition: 0.5s;

}

.calculator.dark .display input {
    color: #000000;
}

.calculator.dark .display1 input {
    color: #4E505F;
}

.calculator.dark .buttons {
    background-color: #FFFFFF;
    transition: 0.5s;

}

.calculator.dark .btn, .calculator.dark .btn0, .calculator.dark .btn1 {
    background-color: #FFFFFF;
    color: #000000;
    transition: 0.5s;

}

.calculator.dark .btn:hover, .calculator.dark .btn0:hover, .calculator.dark .btn1:hover {
    background-color: #BFC0C6;
    transition: 0.5s;

}

.calculator.dark .btn:active, .calculator.dark .btn0:active, .calculator.dark .btn1:active {
    background-color: #A5A7B0;
    transition: 0.5s;

}

.btn0.dark btn0_/{
    background-color: #FFFFFF;
    color: #fff;
    transition: 0.5s;

}

.calculator.dark .btn0 {
    background-color: #D2D3DA;
    color: #000;
    transition: 0.5s;

}

.calculator.dark .btn0:hover {
    background-color: #555555;
}

.calculator.dark .btn0:active {
    background-color: #aaa;
}

.calculator.dark .btn1 {
    background-color: #4B5EFC;
    color: #fff;
}

.calculator.dark .btn1:hover {
    background-color: #4B5EFC;
}

.calculator.dark .btn1:active {
    background-color: #4B5EFC;
}



.display {
    margin: 10px;
    width: 315px;
    height:auto;
    box-sizing: border-box;
    text-align: right;
    border-bottom: 1px solid transparent;
}

.display input {
    background-color: transparent;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 5px;
    font-family: work sans, sans-serif;
    font-weight: 300;
    font-size: 60px;
    color: #fff;
    text-align: right;
    vertical-align: center;
}

.display1 {
    background-color: transparent;
    margin: 10px;
    width: 315px;
    height: 47px;
    box-sizing: border-box;
    text-align: right;
    border-bottom: 1px solid transparent;
}

.display1 input {
    background-color: transparent;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 5px;
    font-family: work sans, sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #4E505F;
    text-align: right;
    vertical-align: center;
}

.buttons {
    display: grid;
    gap: 5px;
    width: 335px;
    height: 400px;
    padding: 10px;
    box-sizing: border-box;
    grid-template-columns: repeat(4, 1fr);
    transition: 0.5s;
}

.btn, .btn0, .btn1 {
    padding: 15px;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    border-radius: 30px;
    border-color: transparent;
    color: #fff;
    background-color: #2E2F38;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s;

}

.btn:hover, .btn0:hover, .btn1:hover {
    background-color: #555555;
}

.btn:active, .btn0:active, .btn1:active {
    background-color: #aaa;
}


.btn0 {
    color: #fff;
    background-color: #4E505F;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1 {
    padding: 10px;
    color: #fff;
    background-color: #4B5EFC;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
